# Add any directories, files, or patterns you don't want to be tracked by version control
CMakeFiles/
*.o
*.tmp
*swp
CMakeCache.txt
*.so
*.dll
*.exe
*.a
Makefile
*.sh
cmake_install.cmake
build
tags
.gdb_history
install_manifest.txt
lucc
*.log
*.vcxproj.user
runtime/
x64/
x86/
